* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#today {
    margin: 10px 0 20px 0;
    text-decoration: underline;
}

h2 {
    margin: 10px 0
}
#topDiv {
    height: 300px;
    position: relative;
}

#currentDT {
    background: white;
    border: 3px black solid;
    border-radius: 12px;
    margin: 30px 15px;
    position: absolute;
    text-align: center;
    height: 80%;
    width: 20%;
}

#hourHeader {
    background: white;
    border: 3px black solid;
    border-radius: 12px;
    height: 80%;
    margin: 30px 15px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    width: 75%;

}

#thisHour {
    font-size: 30px;
}

#bottomDiv {
    background-image: url("doodles.png");
    border: 3px black solid;
    border-radius: 12px;
    padding: 5px 0 5px;
    width: 80%;
    margin: auto;
}

.hourDiv {
    border: 3px black solid;
    border-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 100px;
    margin: 0px auto;
    position: relative;
    width: 96%;
}

#hour{
    background: white;
    border: 3px black solid;
    border-top: 20px #5d5050 solid;
    border-bottom: 20px #5d5050 solid;
    height: 50px;
    line-height: 50px;
    margin: 5px 6px;
    text-align: center;
    width: 120px;
}


.pastHour {
    background: darkkhaki;
}

.currentHour {
    background: burlywood;
}

.futureHour {
    background: steelblue;
}

#pm5 {
    border-bottom: 3px black solid;
}

.todoInp {
    border: 2px black solid;
    height: 70px;
    font-size: 20px;
    margin-left: 105px;
    position: absolute;
    line-height: 1.5;
    top: 12px;
    left: 30px;
    width: 76%;
}

.saveBtn {
    height: 100px;
    margin: 23px 8px;
    position: absolute;
    top: 0;
    right: 0;
}

img {
    height: 50px;
}